.header {
  height: var(--header-height);
  background-color: var(--color-neutral-900);
  z-index: 20;
  font-size: 1.1rem;

  position: fixed;
  top: 0;
  width: 100%;

  display: grid;
  place-items: center;

  &__home-link {
    height: 100%;
    color: var(--color-neutral-000);
    background-color: var(--color-neutral-900);
    display: grid;
    place-items: center;
  }
}