{% extends 'base.html' %}

{% block title %}Eliminar comentario - Laura's{% endblock title %}

{% block content %}

<main>
  <section class="section section-top">
    <section class="section-form">
      <form class="form comment-form" action="" method="POST">{% csrf_token %}
        <h1 class="form__title">Confirmar</h1>
        <p>¿Eliminar comentario? Esto no se podrá revertir.</p>
        <button type="submit" class="btn btn--black form__submit">Eliminar</button>
        <a class="btn" href="{% url 'product_detail' object.product.pk %}">Cancelar</a>
      </form>
    </section>
  </section>
</main>

{% endblock content %}