[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
fontawesome-free = "*"
pillow = "*"
django-googledrive-storage = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start = "python manage.py runserver 0.0.0.0:8000"
compile_sass = "sass --watch static/sass:static/css"
