[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
fontawesome-free = "*"
pillow = "*"
django-googledrive-storage = "*"

[dev-packages]

[requires]
python_version = "3.9"
