{% extends 'base.html' %}

{% block title %}Editar Perfil - Laura's{% endblock title %}

{% block content %}

<main>
  <section class="section section-top">
    <section class="section-form">
      <form class="form" action="" method="POST">{% csrf_token %}
        <h1 class="form__title">Editar perfil de usuario</h1>
        {{ form.as_p }}
        <div class="form__input">
          <span class="form__label">Cuentas externas</span>
          <p class="form__message">
            Para manejar sus cuentas de servicios externos, visite <a href="{% url 'socialaccount_connections' %}">este enlace.</a>
          </p>
          <span class="form__label">Contraseña</span>
          <p class="form__message">
            Para cambiar la contraseña, haz clic <a href="{% url 'account_set_password' %}">aquí.</a>
          </p>
        </div>
        <button type="submit" class="btn btn--black form__submit">Confirmar cambios</button>
      </form>
    </section>
  </section>
</main>

{% endblock content %}