{% load i18n %}{% autoescape off %}
{% blocktranslate %}Ha recibido este correo porque olvidó su contraseña para ingresar al sitio "Laura's Bakery".{% endblocktranslate %}

{% translate "Por favor visite el siguiente enlace:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Nombre de usuario:' %} {{ user.get_username }}

{% translate "Gracias por usar nuestro sitio web." %}

{% blocktranslate %}El equipo de Laura's Bakery{% endblocktranslate %}

{% endautoescape %}