{% extends 'base.html' %}
{% block title %}Cambio de contraseña - Laura's{% endblock title %}

{% block content %}

<main>
  <section class="section section-top">
    <h1 class="section-title">Correo enviado</h1>
    <p>Se envió un correo a la dirección que indicaste con instrucciones para restablecer tu contraseña.</p>
    <p>Puedes cerrar esta pestaña o volver a la página de inicio.</p>
    <a href="{% url 'home' %}" class="btn btn--black u-margin-top-3">Volver a la página de inicio</a>
  </section>
</main>

{% endblock content %}