{% extends 'base.html' %}

{% block title %}Restablecer contraseña - Laura's{% endblock title %}

{% block content %}

<main>
<section class="section section-top">
  {% if validlink %}
    <div class="section-form">
      <form method="POST" class="form"> {% csrf_token %}
        <h1 class="form__title">Restablecer contraseña</h1>
        <div class="form__field">
          {{ form.new_password1.errors }}
          {{ form.new_password1.label_tag }}
          {{ form.new_password1 }}
        </div>
        <div class="form__field">
          {{ form.new_password2.errors }}
          {{ form.new_password2.label_tag }}
          {{ form.new_password2 }}
        </div>
        <button type="submit" class="btn btn--black form__submit">Restablecer</button>
      </form>
    </div>
  {% else %}
    <h1 class="section-title">Link expirado</h1>
    <p>El enlace ha sido rechazado, esto puede ser porque ha expirado o ya se usó una vez.</p>
  {% endif %}

</section>
</main>

{% endblock content %}