{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Cambiar contraseña" %}{% endblock %}

{% block content %}
  <main>
    <section class="section section-top">
      <section class="section-form">
        <h1>{% trans "Cambiar contraseña" %}</h1>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Confirmar cambio de contraseña" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "¿Olvidó su contraseña?" %}</a>
    </form>
      </section>
    </section>
  </main>
{% endblock %}