{% extends "base.html" %}

{% load i18n %}
{% block title %}{% trans "Restablecer contraseña" %}{% endblock %}

{% block content %}
  <main>
    <section class="section section-top">
      <section class="section-form">        
        <h1>{% if token_fail %}
          {% trans "Url inválido" %}
        {% else %}
          {% trans "Restablecer contraseña" %}
        {% endif %}</h1>

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}El enlace para restablecer la contraseña no es válido, probablemente porque ya se ha utilizado una vez.  Por favor solicite un <a href="{{ passwd_reset_url }}">nuevo enlace</a>.{% endblocktrans %}</p>
        {% else %}
            {% if form %}
                <form method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" name="action" value="{% trans 'Confirmar' %}"/>
                </form>
            {% else %}
                <p>{% trans 'Se ha establecido una nueva contraseña.' %}</p>
            {% endif %}
        {% endif %}
      </section>
    </section>
  </main>
{% endblock %}