@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Lato:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

a {
  text-decoration: none;
}

a:not([class]) {
  text-decoration: auto;
  text-decoration-skip-ink: auto;
}

:root {
  --section-max-width: 900px;
  --navbar-height: 4rem;
  --navbar-icon-size: calc(var(--navbar-height) * 5 / 8);
  --header-height: 3.5rem;
  --product-card-height: 16em;
  --color-offset: 0;
  --color-primary-h: calc(var(--color-offset) + 30);
  --color-primary-s: 80%;
  --color-primary-l: 0%;
  --color-primary-400: hsl(
    var(--color-primary-h),
    var(--color-primary-s),
    var(--color-primary-l));
  --color-secondary-h: calc(var(--color-offset) + 20);
  --color-secondary-s: 100%;
  --color-secondary-l: 30%;
  --color-secondary-400: hsl(
    var(--color-secondary-h),
    var(--color-secondary-s),
    var(--color-secondary-l)
  );
  --color-neutral-000: hsl(0, 0%, 100%);
  --color-neutral-200: hsl(0, 0%, 75%);
  --color-neutral-400: hsl(0, 0%, 53%);
  --color-neutral-700: hsl(0, 0%, 20%);
  --color-neutral-900: hsl(0, 0%, 0%);
  --hero-background-color-1: hsla(0, 0%, 0%, 0.6);
  --hero-background-color-2: hsla(0, 0%, 0%, 1);
}

p,
a {
  font-family: "Roboto", sans-serif;
}

p {
  color: var(--color-neutral-900);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Dancing Script";
  font-weight: 700;
  color: var(--color-neutral-900);
}

.logo {
  text-align: center;
  font-family: "Dancing Script";
  display: block;
}
.logo__top {
  font-size: 1.8em;
  font-weight: 400;
}
.logo__bottom {
  font-size: 0.7em;
  font-weight: 400;
}

.section-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.icon-sprite {
  display: none;
}

.u-outline {
  outline-width: 2px;
  outline-style: dashed;
  outline-color: var(--color-neutral-900);
}
.u-outline--white {
  outline-color: var(--color-neutral-000);
}

.u-margin-header {
  margin-top: var(--header-height);
}

.u-margin-bottom-3 {
  margin-bottom: 3rem;
}

.u-margin-top-3 {
  margin-top: 3rem;
}

.u-text-center {
  text-align: center;
}

.hero {
  color: var(--color-neutral-000);
  position: relative;
  font-size: 1rem;
  width: 100vw;
  height: 100vh;
}
.hero::before {
  content: "";
  overflow: hidden;
  margin: 0 auto;
  background-image: linear-gradient(to bottom right, var(--hero-background-color-1), var(--hero-background-color-2)), url(../img/hero_background.jpg);
  background-size: cover;
  background-position: center;
  width: 100vh;
  height: 100vw;
  z-index: -1;
  transform: rotate(-90deg);
  transform-origin: left top;
  position: absolute;
  top: 100vh;
}
.hero__logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 5%;
  font-size: min(6vh, 1.7rem, 10vw);
  display: block;
}
.hero__slogan {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  top: 30%;
  width: 70vw;
  margin: 0 auto;
}
.hero__slogan h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: min(9vmin, 3rem);
  line-height: 0.8em;
  color: var(--color-neutral-000);
}
.hero__slogan h1 strong {
  font-weight: 900;
  font-size: 1.34em;
  line-height: 1.3em;
}
.hero__cta {
  position: absolute;
  left: 0;
  right: 0;
  bottom: min(var(--navbar-height) + 20%);
  text-align: center;
}

.header {
  height: var(--header-height);
  background-color: var(--color-neutral-900);
  z-index: 20;
  font-size: 1.1rem;
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  place-items: center;
}
.header__home-link {
  height: 100%;
  color: var(--color-neutral-000);
  background-color: var(--color-neutral-900);
  display: grid;
  place-items: center;
}

.navbar {
  z-index: 200;
  position: fixed;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  background-color: var(--color-neutral-900);
  color: var(--color-neutral-000);
}
.navbar--bottom {
  bottom: 0;
}
.navbar--top {
  top: 0;
}
.navbar__item {
  background: none;
  border: none;
  flex-basis: content;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-basis: var(--navbar-height);
  height: var(--navbar-height);
}
@media (hover: hover) {
  .navbar__item:hover {
    background-color: var(--color-neutral-000);
  }
  .navbar__item:hover svg {
    fill: var(--color-neutral-900);
  }
  .navbar__item:hover .navbar__text {
    color: var(--color-neutral-900);
  }
}
.navbar__item:active {
  background-color: var(--color-neutral-000);
}
.navbar__item:active svg {
  fill: var(--color-neutral-900);
}
.navbar__button {
  background-color: var(--color-neutral-700);
}
.navbar__icon {
  width: var(--navbar-icon-size);
  height: var(--navbar-icon-size);
  fill: var(--color-neutral-000);
}
.navbar__text {
  display: none;
  margin-left: 1rem;
  color: var(--color-neutral-000);
}
@media (min-width: 600px) {
  .navbar__text {
    display: inline;
  }
}

.dropdown {
  position: absolute;
  bottom: 100%;
  right: 0;
  display: none;
  flex-flow: column;
  width: min(100%, 400px);
}
.dropdown--visible {
  display: flex;
}
.dropdown__item {
  padding: 1em;
  background-color: var(--color-neutral-700);
  outline: 2px solid var(--color-neutral-900);
  color: var(--color-neutral-000);
}
@media (hover: hover) {
  .dropdown__item:hover {
    background-color: var(--color-neutral-000);
    color: var(--color-neutral-900);
  }
  .dropdown__item:hover .user__links a {
    color: var(--color-neutral-900);
  }
}

.user {
  display: block;
  font-family: "Roboto", sans-serif;
}
.user__name {
  margin-bottom: 0.6rem;
  font-size: 2rem;
}
.user__links a {
  color: var(--color-neutral-000);
}
@media (hover: hover) {
  .user__links a:hover {
    font-weight: bolder;
  }
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100%;
  background-color: var(--color-neutral-000);
}

main {
  max-width: 100vw;
  overflow: hidden;
}

.section {
  margin: 0 auto;
  padding: 0 1rem;
  width: auto;
}
.section p {
  margin-bottom: 1rem;
  max-width: 60ch;
}
.section__title {
  font-family: "Dancing Script";
  font-size: 3rem;
}

.section-top {
  margin-top: calc(var(--header-height) + 1rem);
}

.section-products-list {
  width: min(95%);
  margin: calc(var(--header-height)) auto 2rem;
}

.footer {
  background-color: var(--color-neutral-400);
  margin: 1rem 0 var(--navbar-height);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.footer__column {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 0;
}
.footer__column--1 {
  flex-basis: max-content;
  flex-grow: 2;
  flex-shrink: 1;
  align-items: center;
}
.footer__column--2 {
  flex-basis: 12rem;
  flex-grow: 1;
  flex-shrink: 2;
}
.footer__column--3 {
  flex-basis: 16rem;
  flex-grow: 2;
  flex-shrink: 1;
}
.footer__column .logo-container {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--color-neutral-900);
}
.footer__bottom {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-flow: column wrap;
}
.footer__bottom a {
  color: var(--color-neutral-900);
}
@media (hover: hover) {
  .footer__bottom a:hover {
    font-weight: bolder;
  }
}
.footer__link {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--color-neutral-900);
  margin-bottom: 0.6rem;
  width: max-content;
}
.footer__link--main {
  width: 100%;
  border-bottom: 2px solid var(--color-neutral-900);
}
.footer__link--sub {
  font-size: 1rem;
}
@media (hover: hover) {
  .footer__link:hover {
    font-weight: 800;
  }
}

.social-links {
  width: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.social-links a {
  font-size: 2rem;
  color: var(--color-neutral-900);
}

.icon-attribution {
  display: block;
}

.grid {
  display: grid;
  grid-gap: 1rem;
}

.products-grid {
  grid-template-rows: var(--product-card-height);
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.section-split {
  position: relative;
  width: min(100%, var(--section-max-width));
}

.split {
  display: flex;
  flex-flow: row wrap;
}
.split__column {
  flex-grow: 1;
}
.split__column--left {
  flex-shrink: 1;
  order: 1;
  flex-basis: 300px;
}
.split__column--right {
  order: 2;
  flex-basis: 300px;
  display: flex;
  justify-content: center;
}
.split__image {
  width: clamp(230px, 90%, 450px);
  object-fit: cover;
}
.split__title {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.split__subtitle {
  margin-bottom: 0.5rem;
}

.section-form {
  width: clamp(300px, 100%, 550px);
  margin: 0 auto;
}

.form__title {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.form p, .form__field {
  margin-bottom: 1.5rem;
}
.form p label, .form__field label {
  font-size: 1rem;
}
.form p input[type=text],
.form p input[type=password],
.form p input[type=email],
.form p input[type=number],
.form p textarea,
.form p select, .form__field input[type=text],
.form__field input[type=password],
.form__field input[type=email],
.form__field input[type=number],
.form__field textarea,
.form__field select {
  display: block;
  padding: 0.3rem;
  width: 100%;
  font-family: "Roboto";
  color: var(--color-neutral-700);
}
.form p .helptext, .form__field .helptext {
  font-size: 0.7rem;
}
.form__submit {
  width: 100%;
}

.password-reset {
  margin-top: 2rem;
}

.contact-card__heading {
  grid-area: a;
  color: var(--color-primary-400);
  border-bottom: var(--color-primary-400) solid 1px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.contact-card__edit {
  display: inline-block;
  position: static;
  padding-left: 15rem;
}
.contact-card__edit a {
  color: var(--color-primary-400);
  text-decoration: none;
}

.contact-grid__item--centered {
  place-items: center;
  grid-column: 3;
}

.contact-add {
  font-size: 4rem;
  display: block;
  margin: auto;
  color: var(--color-primary-400);
}
.contact-add a {
  color: var(--color-primary-400);
}

.btn {
  display: inline-block;
  padding: 1em 2em;
  text-decoration: none;
  font-weight: 900;
  border-radius: 10em;
  font-family: "Roboto";
  font-size: 1rem;
}
.btn--primary {
  background-color: var(--color-primary-400);
  color: var(--color-secondary-400);
  border: 2px solid var(--color-secondary-400);
}
.btn--black {
  color: var(--color-neutral-000);
  background-color: var(--color-neutral-900);
  border: 2px solid var(--color-neutral-400);
}
@media (hover: hover) {
  .btn--black:hover {
    cursor: pointer;
    filter: invert(100%);
  }
}
.btn:active {
  filter: invert(100%);
}

.card {
  border: 2px solid var(--color-neutral-900);
  border-radius: 1px;
  position: relative;
  transition-duration: 0.3s;
  height: var(--product-card-height);
}
@media (hover: hover) {
  .card:hover {
    filter: opacity(70%);
  }
  .card:hover .card__heading {
    opacity: 0;
  }
}
.card__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.card__heading {
  transition-duration: 0.3s;
  display: inline;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  max-width: 100%;
  font-family: "Dancing Script", serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: right;
}
.card__heading span {
  background: var(--color-neutral-900);
  color: var(--color-neutral-000);
  padding: 0.3rem 1rem;
  box-decoration-break: clone;
  line-height: 2.8rem;
  border-radius: 0 0 0 10px;
}

.section-comments {
  background-color: var(--color-neutral-200);
  margin: 3rem auto;
  width: min(100vw, var(--section-max-width));
}

.comment {
  box-sizing: border-box;
  margin-top: 1rem;
  margin-right: 1rem;
  display: grid;
  justify-content: center;
}
.comment__heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.5rem;
  position: relative;
}
.comment--clickable:hover {
  background-color: white;
  cursor: pointer;
}
.comment__edit {
  position: absolute;
  right: -2rem;
  top: 1rem;
}
.comment__edit a {
  color: black;
}
.comment__edit a:hover {
  color: var(--color-neutral-700);
}
.comment__user {
  font-size: 2rem;
  font-weight: 700;
}
.comment__timestamp {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding-left: auto;
  padding-right: 1rem;
  right: 5rem;
}
.comment p {
  max-width: unset;
  width: min(70ch, 90vw);
}

.comment-form {
  width: min(70ch, 90vw);
  margin: 1rem auto;
}
.comment-form label {
  display: block;
  font-family: "Roboto";
  font-size: 2rem !important;
  font-weight: 900;
}
.comment-form textarea {
  width: 100%;
  resize: none;
}

.star-input {
  display: flex;
  flex-flow: row wrap;
}
.star-input__label {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 1.5rem;
}
.star-input:hover .star__icon {
  fill: #ffcf3d;
}
.star-input .star:hover .star__icon {
  fill: #ffcf3d;
}
.star-input .star:hover ~ .star .star__icon {
  fill: #ffe699;
}

.star {
  display: inline-block;
  cursor: pointer;
  margin-right: 0.5rem;
}
.star__icon {
  width: 2rem;
  height: 2rem;
  fill: none;
}
.star__icon__checked {
  fill: #ffc105;
}
.star--checked .star__icon {
  fill: #ffc105;
}

#price_and_available {
  display: none;
}

/*# sourceMappingURL=style.css.map */
