{% extends 'base.html' %}

{% comment %}

product_list.html
Plantilla para ProductListView
Muestra una lista de los productos guardados en la BD,
con enlaces a sus DetailView respectivos.

{% endcomment %}

{% block title %}Productos | Laura's{% endblock %}

{% block content %}
<main>
  <section class="section section-products-list">
    <h1 class="section__title">Productos</h1>

    {% comment %}
    Url para agregar un registro
    Solo se mmuestra si el usuario cuenta con los permisos necesarios
    {% endcomment %}
    {% if perms.shopping.add_product %}
      <a href="{% url 'product_create' %}">Agregar</a>
    {% endif %}

    <div class="grid products-grid">
      {% for product in products %}
        {% include 'shopping/product_card.html' with product=product %}
      {% endfor %}
    </div>
  </section>
</main>
{% endblock %}