.dropdown {
  position: absolute;
  bottom: 100%;
  right: 0;
  
  display: none;
  flex-flow: column;
  width: 100%;
  
  &--visible {
    display: flex;
  }

  &__item {
    padding: 1em;
    background-color: var(--color-neutral-700);
    outline: 2px solid var(--color-neutral-900);
    color: var(--color-neutral-000);

    &:hover {
      background-color: var(--color-neutral-000);
      color: var(--color-neutral-900);
    }
  }

}