@use '../abstracts/colors';

.hero {
  color: white;
  position: relative;
  font-size: 1rem;

  width: 100vw;
  height: 100vh;

  &::before { // Background
    content: '';
    overflow: hidden;
    margin: 0 auto;

    background-image:
      linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1)),
      url(../img/hero_background.jpg);
    background-size: cover;
    background-position: center;
      
    width: 100vh;
    height: 100vw;

    z-index: -1;
    transform: 
        rotate(-90deg);
    transform-origin: left top;
    
    position: absolute;
    top: 100vh;
  }

  &__logo {
      padding-top: 9vh;
      font-size: 1.7rem;
  }

  &__slogan {
    display: block;
    margin: 0 auto;
    width: 70vw;
    margin-top: 13vh;

    h1 {
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      font-size: 9vmin;
      line-height: 8vmin;
      
      strong {
        font-weight: 900;
        font-size: 12.5vmin;
        line-height: 15vmin;
      }
    }
  }

  &__cta {
    margin: 15vh auto 0;
    text-align: center;
  }

}