main {
  max-width: 100vw;
  overflow: hidden;
}

.section {
  margin-top: var(--header-height);

  p {
    margin-bottom: 1rem;
  }
  
  &__title {
    font-family: "Dancing Script";
    font-size: 3rem;
  }
}

.section-products-list {
  width: min(95%);
  margin: calc(var(--header-height)) auto 2rem;
  
}