@use '../abstracts/mixins';

.navbar {
  z-index: 200;
  position: fixed;
  margin: 0;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  width: 100vw;
  background-color: var(--color-neutral-900);
  color: var(--color-neutral-000);

  &--bottom {
    bottom: 0;
  }

  &--top {
    top: 0;
  }
  
  &__item {
    background: none;
    border: none;
    flex-basis: content;
    
    align-items: center;
    justify-content: center;
    
    display: flex;

    flex-basis: var(--navbar-height);
    height: var(--navbar-height);

    @include mixins.hover {
      background-color: var(--color-neutral-000);
      svg {
        fill: var(--color-neutral-900);
      }

      .navbar__text {
        color: var(--color-neutral-900);
      }
    }

    &:active {
      background-color: var(--color-neutral-000);
      
      svg {
        fill: var(--color-neutral-900);
      }
    }

  }

  &__button {
    background-color: var(--color-neutral-700);
  }

  &__icon {
    width: var(--navbar-icon-size);
    height: var(--navbar-icon-size);
    fill: var(--color-neutral-000);
  }

  &__text {
    display: none;
    margin-left: 1rem;
    color: var(--color-neutral-000);

    @media (min-width: 600px) {
      display: inline;
    }
  }
}
