.btn {
  display: inline-block;
  padding: 1em 2em;
  text-decoration: none;
  font-weight: 900;
  
  &--black {
    color: white;
    background-color: black;
    border: 2px solid grey;
    border-radius: 10em;

  }
  
  &:hover {
    filter: invert(100%);
  }

}