@use '../abstracts/mixins';

.btn {
  display: inline-block;
  padding: 1em 2em;
  text-decoration: none;
  font-weight: 900;
  border-radius: 10em;
  
  &--primary {
    background-color: var(--color-primary-400);

    color: var(--color-secondary-400);
    border: 2px solid var(--color-secondary-400);
    
  }

  &--black {
    color: var(--color-neutral-000);
    background-color: var(--color-neutral-900);
    border: 2px solid var(--color-neutral-400);

    @include mixins.hover {
      cursor: pointer;
      filter: invert(100%);
    }
  }
  
  &:active {
    filter: invert(100%);
  }

}