.contact-card {

    &__heading {
        grid-area: a;
        color: var(--color-primary-400);
        border-bottom: var(--color-primary-400) solid 1px;
        width: 100%;
        position: relative;
        
        display: flex;
        justify-content: space-between;
    }

    &__edit {
        display: inline-block;
        position: static;
        padding-left: 15rem;

        a {
            color: var(--color-primary-400);
            text-decoration: none;
        }

    }
}

.contact-grid__item--centered {
    place-items: center;
    grid-column: 3;
}

.contact-add {
    font-size: 4rem;
    display: block;
    margin: auto;
    color: var(--color-primary-400);

    a {
        color: var(--color-primary-400);
    }
}

form {
    margin-left: 4rem;
}

form label {
    font-size: 2rem;
}

.form-label {
    font-size: 2rem;
}