@use '../abstracts/colors';
@use '../base/font-face';

html {
  font-size: 62.5%;
}

.hero {
  height: 100vh;
  width: 100vw;
  position: relative;

  background-image: 
    linear-gradient(to bottom left, rgba(colors.$black, 0.9), rgba(colors.$black, 0.5)), 
    url(../img/hero_background.jpg);
  
  //background-size: cover; 
  background-origin: border-box;
  background-size: auto 160%;
  background-origin: border-box;
  background-position: 65% 0;

  display: grid;
  place-items: center;
  grid-template:
    "b b a" 1fr
    "b b d" 1fr
    "c c c" 1fr / auto 30vmin 60vmin;

  &__heading {
    grid-area: a;
    color: colors.$white;
    text-align: right;
    padding-right: 10vmin;
    padding-top: 5vmin;
    
    h1 {
      font-family: 'Cookie', serif;
      font-size: 20vmin;
      
    }

    h2 {
      font-family: 'Lato', sans-serif;
    }
  }

  &__slogan {
    grid-area: d;
    font-size: 4rem;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    color: colors.$white;
    text-align: right;
    padding-right: 10vmin;
  }

  &__action {
    grid-area: c;
  }

}