{% extends 'base.html' %}
{% block title %}Login{% endblock title %}

{% block content %}

<main>
<section class="section">
  <form method="POST" class="section-title">{% csrf_token %}
    {{ form.as_p }}
    <div class="form__input">
      <p class="form__message">
        ¿Olvidaste tu contraseña? <a href="{% url 'password_reset' %}">Restablecer contraseña</a>
      </p>
    </div>
    <button class="btn btn--black" type="submit">Confirmar</button>
  </form>
</section>
</main>

{% endblock content %}