{% extends 'base.html' %}
{% block title %}Cambio de contraseña - Laura's{% endblock title %}

{% block content %}

<main>
<section class="section section-top">
  <section class="section-form">
    <h1 class="form__title">Password change</h1>
    <form class="form" method="POST">{% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn--black form__submit" type="submit">Cambiar contraseña</button>
      {{ form.new_password1.helptext }}
    </form>
  </section>
</section>
</main>

{% endblock content %}