{% extends 'base.html' %}
{% block title %}Restablecer contraseña - Laura's{% endblock title %}

{% block content %}

<main>
<section class="section">
  <h1 class="section-title">Restablecer contraseña</h1>
  <p>¿Olvidaste tu contraseña? Escribe tu email para recibir instrucciones sobre cómo restablecer tu contraseña.</p>
  <form method="POST" class="form">{% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn--black" type="submit">Restablecer contraseña</button>
  </form>
</section>
</main>

{% endblock content %}