{% extends 'base.html' %}
{% block title %}Restablecer contraseña - Laura's{% endblock title %}

{% block content %}

<main>
  <section class="section section-top">
    <div class="section-form">
      <form method="POST" class="form">{% csrf_token %}
        <h1 class="form__title">Restablecer contraseña</h1>
        <p>¿Olvidaste tu contraseña? Escribe tu email para recibir instrucciones sobre cómo restablecer tu contraseña.</p>
        {{ form.as_p }}
        <button class="btn btn--black form__submit" type="submit">Restablecer contraseña</button>
      </form>
    </div>
  </section>
</main>

{% endblock content %}