{% extends 'base.html' %}

{% block title %}Eliminar Producto - Laura's{% endblock title %}

{% block content %}

<main>
  <section class="section section-top">
    <section class="section-form">
      <form class="form" action="" method="POST">{% csrf_token %}
        <h1 class="form__title">Eliminar Producto</h1>
        <p>¿Eliminar producto <strong>{{ product.name }}</strong>?</p>
        <button class="btn btn--black">Confirmar</button>
        <a class="btn btn--black" href="{% url 'product_detail' product.pk %}">Cancelar</a>
      </form>
    </section>
  </section>
</main>

{% endblock content %}