{% extends 'base.html' %}

{% block title %}{{ product.name }} - Laura's{% endblock %}

{% block content %}

<main>
  <section class="section section-top section-split">
    <h1 class="split__title">
      {{ product.name }}
    </h1>

    {% comment %}
    Urls para editar o eliminar registros
    Solo se muestran si el usuario cuenta con los permisos necesarios.
    {% endcomment %}
    <div>
      {% if perms.shopping.change_product %}
        <a href="{% url 'product_delete' product.pk %}">Eliminar</a>
      {% endif %}
      {% if perms.shopping.change_product and perms.shopping.delete_product %} | {% endif %}
      {% if perms.shopping.delete_product %}
        <a href="{% url 'product_update' product.pk %}">Modificar</a>
      {% endif %}
    </div>

    <div class="split">
      <div class="split__column split__column--left">
        <p class="split__paragraph">{{ product.description }}</p>
        <hr>
        <div class="product-presentations">
          {% comment %}
          {% for presentation in product.presentations.all %}
            <p><strong>{{ presentation.name }}</strong> - ${{ presentation.price }}</p>
          {% endfor %}
          {% endcomment %}

          <form class="form" action="{% url 'cart_create' %}" method="POST">{% csrf_token %}
            <div class="form__field">
              <label for="presentation" class="form__label">
                Presentaciones
              </label>
              <select name="presentation" id="presentation" required>
                <option value="">Elija una presentación</option>
                {% for presentation in product.presentations.all %}
                <option value="{{ presentation.pk }}" data-max="{{ presentation.inventory }}" data-price="{{ presentation.price }}">{{ presentation.name }}</option>
                {% endfor %}
              </select>
            </div>

            <p id="price_and_available" display="none">$<span id="presentation_price"></span> - Disponibles: <span id="presentation_available"></span></p>

            <div class="form__field">
              <label for="count">Cantidad</label>
              <input type="number" name="count" id="count" step="1" min="1" max="1" required>
            </div>
            <button type="submit" class="btn btn--black form__submit">Agregar al carrito</button>
          </form>
        </div>
      </div>
      {% if product.image %}
      <div class="split__column split__column--right">
        <img class="split__image" src="{{ product.image.url }}" alt="">
      </div>
      {% endif %}
    </div>
  </section>
  <section class="section section-comments">
    <h1 class="section__title">Comentarios</h1>
    {% for comment in product.comments.all %}
      <div class="comment{% if user == comment.user %} comment--clickable{% endif %}">
        <div class="comment__heading">
          <h2 class="comment__user">
            {{ comment.user.username }}
          </h2>
          <span class="comment__timestamp">{{ comment.timestamp|date:'SHORT_DATETIME_FORMAT' }}</span>
          {% if user == comment.user %}
            <span class="comment__edit">
              <a href="{% url 'comment_update' product_pk=product.pk comment_pk=comment.pk %}">
                <i class="fas fa-edit"></i>
              </a>
              <a href="{% url 'comment_delete' product_pk=product.pk comment_pk=comment.pk %}">
                <i class="fas fa-trash"></i>
              </a>
            </span>
          {% endif %}
        </div>
        <div class="comment__body">
          <p class="comment__paragraph">{{ comment.body }}</p>
        </div>
      </div>
    {% endfor %}
    <form class="form comment-form" action="{% url 'comment_create' product.pk %}" method='POST'>
      {% csrf_token %}
      {% comment %}
      Not implemented yet

      <div class="star-input-container">
        <span class="star-input__label">Calificación:</span>
        <div class="star-input">
          <span class="star star--checked" id="star-input-1">
            <svg class="star__icon"><use href="#star-icon-sprite"></use></svg>
          </span>
          <span class="star star--checked" id="star-input-2">
            <svg class="star__icon"><use href="#star-icon-sprite"></use></svg>
          </span>
          <span class="star star--checked" id="star-input-3">
            <svg class="star__icon"><use href="#star-icon-sprite"></use></svg>
          </span>
          <span class="star" id="star-input-4">
            <svg class="star__icon"><use href="#star-icon-sprite"></use></svg>
          </span>
          <span class="star" id="star-input-5">
            <svg class="star__icon"><use href="#star-icon-sprite"></use></svg>
          </span>
        </div>
      </div>
      {% endcomment %}
      {{ comment_form.as_p }}
      <button class="btn btn--black form__submit">Enviar</button>
    </form>
  </section>
</main>

{% endblock %}

{% block extra_body %}
  <script type="text/javascript" >
    $("#presentation").change(function() {
      if( $("#presentation option:selected").attr("value") != "" ) {
        $("#presentation_price").text($("#presentation option:selected").attr("data-price"));
        $("#presentation_available").text($("#presentation option:selected").attr("data-max"));
        $("#price_and_available").toggle(true);

        $("#count").attr("max", $("#presentation option:selected").attr("data-max"));
      }
    });

    if( $("#presentation option:selected").attr("value") != "" ) {
      $("#presentation").trigger("change");
    }
  </script>
{% endblock extra_body %}