{% extends 'base.html' %}

{% block title %}Acerca de nosotros | Laura's{% endblock %}

{% block content %}

<main>
    <section class="section-top" id="seccion-1">
        <div class="section-title-container" id="seccion-2">
            <div class="section-title section-title--right u-margin-bottom-8">
                <h2 class="section-title__text section-title__text--right">
                    Acerca de nosotros
                </h2>
            </div>
        </div>
    </section>
</main>

{% endblock content %}