{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/icon-font.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <script src="{% static 'vendor/JQuery/jquery-3.5.1.js' %}"></script>
    <title>{% block title %}Laura's | Repostería Fina{% endblock %}</title>
</head>

<body>
{% block header %}{% endblock %}

<!-- Navbar -->
<nav class="navbar">
    <div class="navbar-background">
        <a href="{% url 'home' %}" 
        class="navbar__item {% if request.path == '/' %}navbar__item--active{% endif %}">
            Inicio
        </a>
        <a href="{% url 'about' %}" 
        class="navbar__item {% if request.path == '/about' %}navbar__item--active{% endif %}">
            Quiénes somos
        </a>
        <a href="{% url 'contact' %}" 
        class="navbar__item {% if request.path == '/contact' %}navbar__item--active{% endif %}">
            Encuéntranos
        </a>
        <a class="navbar__item--span"></a>
    </div>
</nav>

{% block content %}
{% endblock content %}

<!-- Footer -->


<!-- Script -->
<script src="{% static 'js/script.js' %}"></script>
</body>