{% comment %}
base.html
Plantilla base del proyecto.
Desde aquí se cargan los archivos css y js de la página. También se renderizan
la barra de navegación y el pie de página.
{% endcomment %}

{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {# Stylesheet #}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  {# JQuery #}
  <script src="{% static 'vendor/JQuery/jquery-3.5.1.js' %}"></script>

  {# fontawesome #}
  <link rel="stylesheet" type="text/css" href="{% static 'fontawesome_free/css/all.min.css' %}">
  <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>

  {# Título de la página, se puede cambiar en plantillas que hereden a 'base.html' #}
  <title>{% block title %}Laura's | Repostería Fina{% endblock %}</title>

  {# Favicon #}
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">

  {# Bloque para etiquetas adicionales en <head> (En caso de requerirse) #}
  {% block extra_head %}{% endblock %}

</head>

{# Bloque para páginas que lleguen a cambiar por completo el body del sitio #}
{% block body %}

<body>

{# Etiqueta para la portada (usada en home.html) #}
{% block header %}
  {% include 'header.html' %}
{% endblock %}

{# Barra de navegación #}
{% block menu %}
  {% include 'navbar.html' %}
{% endblock menu %}

{% block content %}
{% endblock content %}

{# Pie de página #}
{% include 'footer.html' %}

{# SVG icons #}
{% include 'svg/icons_sprite.svg' %}

{# Extra body content #}
{% block extra_body %}{% endblock extra_body %}

{# Cargar archivo js #}
<script src="{% static 'js/script.js' %}"></script>
</body>
{% endblock %}
</html>