{% extends 'base.html' %}

{% block title %}Contacto | Laura's{% endblock %}

{% block content %}

<main>
    <section class="section-top">
        {% include 'section_title.html' with id='section-1' side='right' name='Encuéntranos' %}
        
        <div class="contact-grid">
            {% for sucursal in sucursales %}
            <div class="contact-grid__item">
                <h3 class="contact-card__heading heading-tertiary">
                    {{ sucursal.nombre }}
                    <span class="contact-card__edit">
                        <a href="{% url 'contact_update' sucursal.pk %}">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{% url 'contact_delete' sucursal.pk %}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </span>
                </h3>
                <p class="contact-grid__item__paragraph">
                    {{ sucursal.direccion }}<br>
                    {{ sucursal.colonia }} C.P. {{ sucursal.codigo_postal }}
                    
                </p>
                <a href="tel:{{ sucursal.telefono }}" class="contact-grid__item__button--left btn-text"><i class="fab fa-whatsapp"></i>  {{ sucursal.telefono }}</a>
                
                <a href="mailto:{{ sucursal.email }}" class="contact-grid__item__button--right btn-text">{{ sucursal.email }}</a>

            </div>
            {% endfor %}
            <div class="contact-grid__item--centered contact-add">
                <a href="{% url 'contact_create' %}">
                    <i class="fas fa-plus-circle"></i>
                </a>
            </div>
        </div>
    </section>
</main>

{% endblock content %}