{% extends 'base.html' %}

{% block title %}Contacto | Laura's{% endblock %}

{% block content %}

<main>
    <section class="section-top">
        {% include 'section_title.html' with id='section-1' side='right' name='Encuéntranos' %}
        
        <div class="contact-grid">
            {% for sucursal in sucursales %}
            <div class="contact-grid__item">
                <h3 class="contact-grid__item__name heading-tertiary">
                    {{ sucursal.nombre }}
                    <hr>
                </h3>
                <p class="contact-grid__item__paragraph">
                    {{ sucursal.direccion }}<br>
                    {{ sucursal.colonia }} C.P. {{ sucursal.codigo_postal }}
                    
                </p>
                <a href="tel:{{ sucursal.telefono }}" class="contact-grid__item__button--left btn-text"><i class="fab fa-whatsapp"></i>  {{ sucursal.telefono }}</a>
                
                <a href="mailto:{{ sucursal.email }}" class="contact-grid__item__button--right btn-text">{{ sucursal.email }}</a>

            </div>
            {% endfor %}
        </div>
    </section>
</main>

{% endblock content %}