<footer class="footer">
  <div class="row">
    <div class="col-1-of-3">
      <p class="footer-title">
        <a href="" class="footer-link">Pedidos</a><hr>
      </p>
      <ul class="footer-list">
        <li class="footer-list__item">
          <a href="" class="footer-link">Mayoreo</a>
        </li>
        <li class="footer-list__item">
          <a href="" class="footer-link">Pastel personalizado</a>
        </li>
        <li class="footer-list__item">
          <a href="" class="footer-link">Otro</a>
        </li>
      </ul>
    </div>
    <div class="col-1-of-3">
      <p class="footer-title">
        <a href="{% url 'product_list' %}" class="footer-link">
          Productos<hr>
        </a>
      </p>
      <ul class="footer-list">
        <li class="footer-list__item">
          <a href="" class="footer-link">Pasteles</a>
        </li>
        <li class="footer-list__item">
          <a href="" class="footer-link">Cupcakes</a>
        </li>
        <li class="footer-list__item">
          <a href="" class="footer-link">Pays</a>
        </li>
        <li class="footer-list__item">
          <a href="" class="footer-link">Galletas</a>
        </li>
        <li class="footer-list__item">
          <a href="" class="footer-link">Brownies</a>
        </li>
      </ul>
    </div>
    <div class="col-1-of-3 u-right-text">
      <p class="u-right-text">
        <a href="" class="btn-icon">
          <i class="fab fa-whatsapp"></i>
        </a>
        <a href="" class="btn-icon">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="" class="btn-icon">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="btn-icon">
          <i class="fab fa-instagram"></i>
        </a>
      </p>
      <p class="footer-paragraph">
        871-123-45-67<br>
        contact@laura.reposteria.com
      </p>
      <br><br>
      <p class="footer-paragraph">
        developer: rccastruita@gmail.com
      </p>

      {# Información de la versión actual (Descripción de la tarea) #}
      <span class="tooltip__link">
        <div class="footer__version">
          <div class="tooltip">
            V0.2.2.0
            <span class="tooltiptext">- TAREA -<br>Crear un DetailView con modelos relacionados por llave foránea</span>
          </div>
        </div>
      </span>
      <div>
        Icons made by 
        <a href="https://www.freepik.com" title="Freepik">
          Freepik
        </a> from 
        <a href="https://www.flaticon.com/" title="Flaticon">
          www.flaticon.com
        </a>
      </div>
    </div>
  </div>
</footer>