<footer class="footer">
  <div class="footer__column footer__column--1">
    <a href="{% url 'home' %}">
      <div class="logo-container">
        <span class="logo logo__top">Laura's</span>
        <span class="logo logo__bottom">Repostería Artesanal</span>
      </div>
    </a>
    <a class="footer__link" href="{% url 'about' %}">Quiénes somos</a>
  </div>
  <div class="footer__column footer__column--2">
    <a class="footer__link footer__link--main" href="{% url 'product_list' %}">Productos</a>
    <a class="footer__link footer__link--sub" href="{% url 'product_list' %}">Pays</a>
    <a class="footer__link footer__link--sub" href="{% url 'product_list' %}">Galletas</a>
  </div>
  <div class="footer__column footer__column--3">
    <div class="social-links">
      <a href="" class="btn-icon">
        <i class="fab fa-whatsapp"></i>
      </a>
      <a href="" class="btn-icon">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="" class="btn-icon">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="btn-icon">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
    <a class="footer__link footer__link--sub" href="{% url 'store_list' %}">Contáctanos</a>
    <a class="footer__link footer__link--sub" href="{% url 'store_list' %}">Encuentra nuestras tiendas</a>
  </div>
  <div class="footer__bottom icon-attributions">
    <div class="icon-attribution">
      Icons made by 
      <a href="https://www.freepik.com" title="Freepik">
        Freepik
      </a> from 
      <a href="https://www.flaticon.com/" title="Flaticon">
        www.flaticon.com
      </a>
    </div>
    <div class="icon-attribution">
      Icons made by 
      <a href="https://icon54.com/" title="Pixel perfect">
        Pixel perfect
      </a> from 
      <a href="https://www.flaticon.com/" title="Flaticon">
        www.flaticon.com
      </a>
    </div>
  </div>
</footer>