{% extends 'base.html' %}
{% load static %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<main>
    <section class="section-top">
        {% include 'section_title.html' with name='Conoce nuestros postres' %}
    </section>
</main>

{% comment %}
Tarjetas animadas con css
Las imágenes de fondo se cargan con css, al pasar el cursor sobre una tarjeta,
ésta girará mostrando el reverso.
{% endcomment %}

{# Página rota - Pendiente #}
<section class="section-about">
    <p class="paragraph">
        {% lorem 2 b %}
        {% lorem %}
    </p>
</section>


{% endblock content %}