{% extends 'base.html' %}

{% block header %}{% endblock header %}

{% block content %}
  {% include 'hero.html' %}

  <main>
  <section class="section u-outline">
    <h1 class="section__title u-outline">TODO:</h1>
    <h2 class="u-outline">Tarea</h2>
    <ul>
    <li>3 modelos</li>
    <li>2 archivos estaticos</li>
    <li>Usuario 2 campos</li>
    <li>4 templates</li>
    <li>test.py</li>
    <li>bootstrap</li>
    <li>password</li>
    <li>django-crispy-forms</li>
    </ul>
    <h2 class="u-outline">Frontend</h2>
    <ul>
      <li>Isotype</li>
      <li>Section styles</li>
      <li>Footer style</li>
      <li>Product component</li>
      <li>Contact component</li>
      <li>Animations</li>
      <li>Color</li>
      <li>Desktop View</li>
      <li>Header (optionalish)</li>
      <li>Themes (optional)</li>
    </ul>
    <h2>Backend</h2>
    <ul>
      <li>Users</li>
      <li>Cart Model</li>
      <li>Discount Model</li>
      <li>Purchase Model</li>
    </ul>
  </section>
  <section class="section u-outline">
    <h1 class="section__title">Header 1</h1>
    {% lorem 3 p %}

    <h2>Header 2</h2>
    {% lorem 2 p %}

    <h3>Header 3</h3>
    {% lorem 1 p %}
  </section>

  </main>
{% comment %}

Página rota
Posible contenido:
- Carrusel promociones
- Resumen Productos
- Info tarea actual

{% endcomment %}

{% endblock content %}