{% extends 'base.html' %}
{% load static %}

{% block header %}
    {% include 'hero.html' %}
{% endblock %}

{% block content %}
<main>
{% comment %}
    <section class="section-top">
        {% include 'section_title.html' with name='Conoce nuestros postres' %}
    </section>
{% endcomment %}
</main>

{% comment %}

Página rota
Posible contenido:
- Carrusel promociones
- Resumen Productos

{% endcomment %}

<section class="section-about">
    <p class="paragraph">
        {% lorem 2 b %}
    </p>
    <p class="paragraph">
        {% lorem %}
    </p>
</section>

{% endblock content %}