<nav class="navbar navbar--bottom">
  <a href="{% url 'product_list' %}" class="navbar__item">
    <svg class="navbar__icon"><use href="#cake-icon-sprite"></use></svg>
    <span class="navbar__text">Productos</span>
  </a>
  <a href="{% url 'home' %}" class="navbar__item">
    <svg class="navbar__icon"><use href="#discount-icon-sprite"></use></svg>
    <span class="navbar__text">Promociones</span>
  </a>
  <a href="{% url 'home' %}" class="navbar__item">
    <svg class="navbar__icon"><use href="#cart-icon-sprite"></use></svg>
  </a>

  <button class="navbar__item navbar__button" id="navbar-dropdown-button">
    <svg class="navbar__icon"><use href="#menu-icon-sprite"></use></svg>
  </button>

  <div class="dropdown">
    <a href="{% url 'home' %}" class="dropdown__item">
      Home
    </a>
    <a href="{% url 'product_list' %}" class="dropdown__item">
      Products
    </a>
    <a href="{% url 'about' %}" class="dropdown__item">
      About
    </a>
    <a href="{% url 'contact' %}" class="dropdown__item">
      Contact
    </a>
  </div>
</nav>