{% comment %}
<nav class="navbar">
  <div class="navbar-background">
    <a href="{% url 'home' %}" 
    class="navbar__item {% if request.path == '/' %}navbar__item--active{% endif %}">
      Inicio
    </a>
    <a href="{% url 'about' %}" 
    class="navbar__item {% if request.path == '/about' %}navbar__item--active{% endif %}">
      Quiénes somos
    </a>
    <a href="{% url 'product_list' %}" 
    class="navbar__item {% if request.path == '/products' %}navbar__item--active{% endif %}">
      Nuestros postres
    </a>
    <a href="{% url 'contact' %}" 
    class="navbar__item {% if request.path == '/contact' %}navbar__item--active{% endif %}">
      Encuéntranos
    </a>
    <a class="navbar__item--span"></a>
  </div>
</nav>
{% endcomment %}

<nav class="navbar">
<div class="navbar__item">
  
</div>
<div class="navbar__item">

</div>
<div class="navbar__item">

</div>


</nav>