{% extends 'base.html' %}

{% block title %}{{ producto.nombre }} - Laura's{% endblock %}

{% block content %}

<main>
    <section class="section-top">
        <div class="detail-grid">
            <div class="detail-grid__item detail-grid__item--a">
                <h1 class="detail-grid__header">
                    {{ producto.nombre }}
                </h1>
                <p class="detail-grid__description">
                    {{ producto.descripcion }}
                </p>
            </div>
            <div class="detail-grid__item detail-grid__item--b">
                <img class="detail-grid__image" src="{{ producto.imagen_1.url }}" alt="">
            </div>
            <div class="detail-grid__item detail-grid__item--c">
                <h1>
                    Presentaciones
                </h1>
                <ul class="detail-grid__list">
                    {% for presentacion in producto.presentacion_set.all %}
                    <li>
                        {{ presentacion.detalle }}: ${{ presentacion.precio }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</main>

{% endblock %}