{% comment %}

product_card.html
Plantilla usada para mostrar los objetos de ProductListView
Muestra la lista de objetos relacionados por llave foránea (modelo Presentacion)

{% endcomment %}

<a href="{{ producto.get_absolute_url }}" class="card">
  <img class="card__picture" src="{{ producto.imagen_1.url }}" alt="">
  <div class="card__heading">
    {{ producto.nombre }}
  </div>
  <div class="card__details">
    <ul class="card__list">
      {% for presentacion in producto.presentacion_set.all %}
      <li class="presentation"> 
        <span class="presentation__name">{{ presentacion.detalle }}</span>
        <span class="presentation__price">${{ presentacion.precio }} </span>
      </li>
      {% endfor %}
    </ul>
  </div>
</a>