{% extends 'base.html' %}

{% block title %}Laura's{% endblock title %}

{% block content %}

<main>
  <section class="section section-top">
    <h1 class="section-title--strong">
      403 Forbidden
    </h1>
    {% if exception %}
    <p>{{ exception }}</p>
    {% endif %}
    <a href="{% url 'home' %}" class="btn btn--black">Página de inicio.</a>
    {% if request.META.HTTP_REFERER %}
    <a class="btn btn--black" href="{{ request.META.HTTP_REFERER }}">Página anterior</a>
    {% endif %}
  </section>
</main>

{#{ request.META.PATH_INFO }#}
{% endblock content %}
